<p>node-checks works!</p>

<h1>
  Host checks for {{ hostname_url }}
</h1>

<table (matSortChange)="announceSortChange($event)" *ngIf="dataSource" cTable matSort>
  <thead>
  <tr>
    <th mat-sort-header="state">State</th>
    <th mat-sort-header="start_time">Date</th>
    <th mat-sort-header="is_hardstate">State Type</th>
    <th mat-sort-header="output">Output</th>
  </tr>
  </thead>
  <tbody>
    @for (nodecheck of nodechecks; track $index) {
      <tr>
        <td>
          <app-nodes-status-icon [state]="nodecheck.state"></app-nodes-status-icon>
        </td>
        <td>{{ nodecheck.start_time * 1000 | date: 'HH:mm:ss - dd.MM.y' }}</td>
        <td>
          <span [hidden]="!nodecheck.is_hardstate">Hard</span>
          <span [hidden]="nodecheck.is_hardstate">Soft</span>
          ({{ nodecheck.current_check_attempt }} / {{ nodecheck.max_check_attempts }})
        </td>
        <td>{{ nodecheck.output }}</td>
      </tr>
    }
  </tbody>
</table>

<app-scroll-index (pageChange)="onPageChange($event)" [scroll]="scroll"></app-scroll-index>
