<c-pagination *ngIf="scroll" aria-label="Page navigation example">
  <li cPageItem>
    <button (click)="firstPage()" [hidden]="scroll.currentPage < 2" cPageLink>
      First
    </button>
  </li>
  <li cPageItem>
    <button (click)="prevPage()" [disabled]="!scroll.hasPrevPage" cPageLink>
      Previous
    </button>
  </li>
  <li [active]="true" cPageItem>
    <button cPageLink>
      {{ scroll.currentPage }}
    </button>
  </li>
  <li cPageItem>
    <button (click)="nextPage()" [disabled]="!scroll.hasNextPage" cPageLink>
      Next
    </button>
  </li>
</c-pagination>
