<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/dashboard']" mat-list-item>Dashboard</a>
      <a [routerLink]="['/nodes', 'index']" mat-list-item>Nodes</a>

      <a href="#" mat-list-item>Link 2</a>
      <a href="#" mat-list-item>Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>ng-statusengine</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div id="main">
      <ng-content/>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
