<app-layout-material>
  <div class="filter">
    <div>
      <label>
        Hostname
        <input (debouncedValue)="onSearchTermChange($event)" [(ngModel)]="params.hostname__like"
               appDebounce
               name="hostname__like"
               type="text">
      </label>
    </div>

    <div>
      <label>
        Status Up
        <input (debouncedValue)="onSearchTermChange($event)" [(ngModel)]="params['state[0]']"
               appDebounce
               name="state_up"
               trueFalseValue
               trueValue="up"
               type="checkbox">
      </label>
    </div>

    <div>
      <label>
        Status Down
        <input (debouncedValue)="onSearchTermChange($event)" [(ngModel)]="params['state[1]']"
               appDebounce
               name="state_down"
               trueFalseValue
               trueValue="down"
               type="checkbox">
      </label>
    </div>

    <div>
      <label>
        Status Unreachable
        <input (debouncedValue)="onSearchTermChange($event)" [(ngModel)]="params['state[2]']"
               appDebounce
               name="state_unreachable"
               trueFalseValue
               trueValue="unreachable"
               type="checkbox">
      </label>
    </div>

  </div>


  <table (matSortChange)="announceSortChange($event)" *ngIf="dataSource" [dataSource]="dataSource"
         class="mat-elevation-z8" mat-table matSort
         matSort matSortActive="created">

    <ng-container matColumnDef="current_state">
      <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by current state">
        Current State
      </th>
      <td *matCellDef="let element" mat-cell>
        <app-nodes-status-icon [state]="element.current_state"></app-nodes-status-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="hostname">
      <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by node name">
        Node Name
      </th>
      <td *matCellDef="let element" mat-cell>
        <a [routerLink]="['/nodes', 'details', element.hostname ]">{{ element.hostname }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="last_check">
      <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by last check">
        Last Check
      </th>
      <td *matCellDef="let element" mat-cell> {{ element.last_check * 1000 | date: 'mediumTime' }}</td>
    </ng-container>

    <ng-container matColumnDef="last_state_change">
      <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Sort by state since">
        State since
      </th>
      <td *matCellDef="let element" mat-cell> {{ element.last_state_change * 1000 | date: 'long' }}</td>
    </ng-container>

    <ng-container matColumnDef="service_summary">
      <th *matHeaderCellDef mat-header-cell> Service summary</th>
      <td *matCellDef="let element" mat-cell>
        O: {{ element.servicestatus_overview.ok }}
        W: {{ element.servicestatus_overview.warning }}
        C: {{ element.servicestatus_overview.critical }}
        U: {{ element.servicestatus_overview.unknown }}
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    <!-- Row shown when there is no matching data. -->
    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">No data matching the filter</td>
    </tr>
  </table>
</app-layout-material>
